/* =================================================================== */
/* Blue #4169e1
====================================================================== */

.page-title h2 { margin-bottom: 4rem; }
.page-title h2 span:first-child::before,
.page-title h2 span:nth-child(2),
h3,
ul.social-intro li a,
.divider .fa,
.bl-main>section.topleft .bl-box .ah-headline.clip .ah-words-wrapper,
.skills .resume-content i,
.badges h3 span,
.bl-main>section:nth-child(4).bl-expand .contact .leftside h6,
.bl-main>section:nth-child(4).bl-expand .contact .rightside .input-field .prefix.active,
body.blog .meta i,
body.blog .meta a,
.widget.recent-posts .entry-title a:hover,
.sidebar ul.nav-tabs li.active a,
.sidebar ul.nav-tabs li:hover a,
body.blog .btn.back-homepage,
body.blog article h4:hover,
body.blog.dark .sidebar ul.nav-tabs li a:hover,
body.blog.dark .widget.recent-posts .entry-title a:hover,
.comments-list .comment-reply:hover,
body.blog .btn.back,
.personal-info a.btn.btn-blog,
div.bl-panel-items nav span.bl-previous-work,
div.bl-panel-items nav span.bl-next-work,
div.bl-panel-items nav span.bl-icon-close {
	color:#FEAE63;
}

.readmore.btn,
body.blog .btn.back-homepage:hover,
.personal-info a.btn,
span.separator,
.resume-list-item-inner,
.carousel .indicators .indicator-item.active,
#bl-work-items>div a div,
div.bl-panel-items a.btn,
.bl-main>section:nth-child(4).bl-expand .contact .rightside form button,
.widget-tags ul > li a:hover,
body.blog .pagination li.active,
.comments-form button,
.comments-form button:hover,
.comments-form button:focus,
.comments-form button:active,
body.blog .btn.back:hover,
.personal-info a.btn.btn-blog:hover  {
	background: #FEAE63;
}
.resume-card-name {
	color: #FEAE63 !important;
}
body.blog .btn.back ,
.personal-info a.btn.btn-blog {
	border:1px solid #FEAE63;
}

body.dark.blog {
  background: #171530 url('/images/music-website-bg.jpg') repeat-x;
  background-size: cover;

}

h2, h3 {
  font-family: 'Amatic SC', cursive;
}

body.blog.dark blockquote p {
  color: #eee;
}

blockquote {
  border: 0;
  text-align: justify;
  font-style: italic;
}

.glow-border {
  margin-top: 25px;
  box-shadow:
    0 0 25px rgb(254, 182, 111, 0.8);
}

.sketchy {
    border: 2px solid #333333;
    font-size: 2.0rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;

    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}

.bandcamp-iframe-contianer {
  padding: 56.25% 0 0 0;
  position: relative;
  height: 664px;
}

@media only screen and (min-width: 1201px) {
  .bandcamp-iframe-contianer {
    height: 880px;
  }
}
