/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent: 
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* @import "compass/reset"

$beige: #FDCB9E
$darkgrey: #1A1A1A
$brown: #E28B53

=transitions
  -webkit-transition: all 200ms ease-out
  -moz-transition: all 200ms ease-out
  -o-transition: all 200ms ease-out

body
  margin: 0
  padding: 0
  background: white url(../images/bg_eye.png) no-repeat right center
  
  
  font:
    family: Verdana, Sans serif
    size: 72%

  header
    display: block
    background: transparent url(../images/header_cropped.jpg) no-repeat
    height: 180px
    overflow: hidden
    font-family: Arial, Helvetica, sans-serif
    font-size: 1.4em
    /*background-color: $darkgrey
    color: white
    /*border-bottom: 6px solid $beige
    h1
      padding-left: 330px
      padding-bottom: 0px
      margin-bottom: 0px
    h2
      display: none
    
    #languages
      font-size: 1.6em
      padding-left: 330px
    
    nav
      display: block
      width: 100%
      float: right
      
      border-top: 13px solid black
      width: 35%
      padding-right: 15%
      ul
        list-style: none
        background: $brown
        border-right: 13px solid #000
        margin: 0
        padding: 0
        overflow: auto
        li
          text-align: center
          display: inline
          float: left
          margin: 3px 6px
          border-left: 2px solid #000
          text-transform: lowercase
          &.webgen-menu-item-selected
            background-color: black
            border-left: 2px solid #fff
          a, span
            display: block
            color: white
            text-decoration: none
            padding: 3px 6px
            +transitions
            &:link, &:visited 
              display: block
              background-color: $brown
              &:hover
                color: #000
                background-color: #FFF
                
                
section#content
  h1
    background: transparent url(../images/headline.png) no-repeat center left
    text-align: right
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
    span
      display: block
      width: 800px
      margin: 0px auto
  
  .inner
    display: block
    width: 800px
    margin: 12px auto
  
    nav#submenu
      float: right
      padding-right: 12px
      ul
        padding: 0
        margin: 0
        list-style: none
        width: 200px
        li
          border-left: 2px solid black
          padding: 3px 6px
          margin: 3px
  
  table
    th
      text-align: left
      padding-right: 12px
      
  img.cover
    border: 1px solid $darkgrey
    float: left
    margin-right: 12px
  ul, ol
    clear: both

footer
  display: block
  clear: both
  /*background-color: $darkgrey
  color: white
  text-transform: lowercase
  margin-top: 56px
  background: white url(../images/footer3.png) no-repeat left bottom
  overflow: auto
  h3
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
  a
    color: $brown
  .inner
    width: 800px
    margin: 0px auto
  .column
    width: 13em
    float: left
  .copyright
    clear: both
    font-weight: bold
    text-align: center
    color: $brown


a
  text-decoration: none
  color: $brown