/*Goldilocks Approach to Responsive Web Design Boilerplate
 *
 *Author: Design by Front - @designbyfront
 *Version: 0.1
 *URL: http://www.goldilocksapproach.com
 *----------------------------------------------------------------------------------------
 *
 *CONTENTS - GLOBAL.CSS
 *-----------------------------------------
 *1. RESET
 *2. ROOT
 *3. CORE TYPOGRAPHY
 *4. LINKS
 *5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
 *6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
 *7. BROWSER AND NON-SEMANTIC STYLING
 *
 *CONTENTS - LAYOUT.CSS
 *-----------------------------------------
 *8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
 *9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear) */
/* 0. VARIABLES
 *---------------------------------------------------------------------------------------- */
/* 1. RESET
 *---------------------------------------------------------------------------------------- */
/* line 44, ../sass/global.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 52, ../sass/global.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* 2. ROOT
 *---------------------------------------------------------------------------------------- */
/* line 58, ../sass/global.sass */
html {
  overflow-y: scroll;
  background: white;
}

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */
/* line 64, ../sass/global.sass */
img, embed, object, video {
  max-width: 100%;
}

/* line 68, ../sass/global.sass */
.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video {
  width: 100%;
}

/* 3. CORE TYPOGRAPHY
 *---------------------------------------------------------------------------------------- */
/* line 74, ../sass/global.sass */
body {
  font-family: "Gentium Book Basic", Georgia, "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.618em;
  color: #eeeeee;
}

/* line 80, ../sass/global.sass */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.809em;
  line-height: 1em;
  color: #ecbb03;
  background-color: RGBA(255, 255, 255, 0.07);
  padding: 6px 0;
  padding-top: 12px;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.75);
}

/* line 89, ../sass/global.sass */
h3, h4, h5, h6 {
  background: none;
  border-bottom: 4px solid RGBA(255, 255, 255, 0.07);
}

/* line 93, ../sass/global.sass */
h1 {
  background: url(../images/star.png) no-repeat left center;
  padding-left: 1.25em;
  font-size: 1.8em;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black */
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.75);
}

/* line 99, ../sass/global.sass */
h4 {
  border: none;
  color: white;
  font-weight: bold;
  padding-top: 0;
}

/* line 105, ../sass/global.sass */
p, ul, ol, dl, blockquote {
  font-size: 1em;
  line-height: 1.618em;
  margin-bottom: 1.618em;
  max-width: 30em;
  /* Optimal width for long-form text */
}

/* line 112, ../sass/global.sass */
ul {
  list-style-type: disc;
  margin-left: 1.618em;
}

/* line 116, ../sass/global.sass */
ol {
  list-style-type: decimal;
  margin-left: 1.618em;
}

/* line 121, ../sass/global.sass */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 126, ../sass/global.sass */
b, strong {
  font-weight: bold;
}

/* line 129, ../sass/global.sass */
i, em {
  font-style: italic;
}

/* line 132, ../sass/global.sass */
small {
  font-size: 80%;
}

/* 4. LINKS
 *---------------------------------------------------------------------------------------- */
/* line 138, ../sass/global.sass */
a {
  outline: none;
  color: #ecbb03;
  text-decoration: underline;
}
/* line 142, ../sass/global.sass */
a:visited {
  outline: none;
  text-decoration: underline;
}
/* line 145, ../sass/global.sass */
a:hover {
  outline: none;
  text-decoration: none;
}
/* line 148, ../sass/global.sass */
a:active, a:focus {
  outline: none;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black */
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.75);
}

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
 *---------------------------------------------------------------------------------------- */
/* line 155, ../sass/global.sass */
body {
  background: #4c5212 url(../images/green12/bg_main.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* line 159, ../sass/global.sass */
header {
  background: url(../images/bg_header.png) repeat-x top, url(../images/bg_header_eye.png) no-repeat top center;
  color: white;
  margin-bottom: 2em;
  overflow: auto;
  border-bottom: 2px solid #ecbb03;
}
/* line 165, ../sass/global.sass */
header .inner {
  padding-top: 4em;
  height: 17em;
  background: url(../images/bg_header_avatar.png) no-repeat right bottom;
  max-width: 30em;
  margin: 0px auto;
}
/* line 172, ../sass/global.sass */
header h1 {
  padding: 0;
  margin: 0;
  padding-left: 1.25em;
}
/* line 177, ../sass/global.sass */
header h2 {
  background: none;
  margin: 0;
  padding: 0;
  padding-left: 3em;
  color: white;
  font-size: 0.8em;
}

/* line 186, ../sass/global.sass */
#container {
  background: url(../images/bg_footeredge.png) repeat-x bottom;
  padding-bottom: 6em;
}
/* line 189, ../sass/global.sass */
#container img {
  border: 5px solid RGBA(255, 255, 255, 0.07);
}
/* line 191, ../sass/global.sass */
#container img.cover {
  float: left;
  margin-right: 1em;
}

/* line 195, ../sass/global.sass */
footer {
  clear: both;
  /*background-color: $darkgrey */
  background-color: RGBA(255, 255, 255, 0.07);
  border-top: 1px solid #ecbb03;
  color: white;
  overflow: auto;
}
/* line 202, ../sass/global.sass */
footer h3 {
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black */
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.75);
}
/* line 204, ../sass/global.sass */
footer .inner {
  max-width: 30em;
  margin: 0px auto;
}
/* line 208, ../sass/global.sass */
footer .column {
  width: 13em;
  float: left;
}
/* line 211, ../sass/global.sass */
footer .copyright {
  clear: both;
  text-align: center;
}

/* line 215, ../sass/global.sass */
#languages {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 13em;
  border-bottom: 1px solid #ecbb03;
  padding-bottom: 0;
}
/* line 222, ../sass/global.sass */
#languages .webgen-langbar-current-lang {
  border-bottom: 3px solid #ecbb03;
  background-color: RGBA(255, 255, 255, 0.07);
}

/* line 226, ../sass/global.sass */
nav#menu {
  padding-bottom: 1.4em;
}
/* line 231, ../sass/global.sass */
nav#menu ul li a, nav#menu ul li span {
  display: block;
  width: 100%;
  padding: 1px;
  padding-left: 22px;
  background: url(../images/bulletin.png) no-repeat left center;
}
/* line 239, ../sass/global.sass */
nav#menu ul li ul li a, nav#menu ul li ul li span {
  font-size: 0.8em;
  background: none;
}

/* line 243, ../sass/global.sass */
nav#submenu {
  overflow: auto;
}
/* line 245, ../sass/global.sass */
nav#submenu ul {
  border-bottom: 1px solid #ecbb03;
  overflow: auto;
  margin-bottom: 1em;
}
/* line 249, ../sass/global.sass */
nav#submenu ul li {
  float: left;
  padding: 0.3em 1em;
}
/* line 252, ../sass/global.sass */
nav#submenu ul li.webgen-menu-item-selected {
  border-bottom: 3px solid #ecbb03;
  background-color: RGBA(255, 255, 255, 0.07);
}

/* line 256, ../sass/global.sass */
table.vertical {
  width: 100%;
}
/* line 258, ../sass/global.sass */
table.vertical th {
  text-align: left;
  font-style: italic;
  width: 25%;
  font-size: 0.8em;
  line-height: 1.1em;
}

/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
 *---------------------------------------------------------------------------------------- */
/* line 269, ../sass/global.sass */
#container #content {
  padding: 0.809em;
  max-width: 30em;
  margin: auto;
}

/* line 274, ../sass/global.sass */
aside {
  width: 100%;
}

/* 7. BROWSER AND NON-SEMANTIC STYLING
 *---------------------------------------------------------------------------------------- */
/* line 281, ../sass/global.sass */
.cf:before {
  content: "";
  display: block;
}
/* line 284, ../sass/global.sass */
.cf:after {
  content: "";
  display: block;
  clear: both;
}

/* line 289, ../sass/global.sass */
.ie6 .cf {
  zoom: 1;
}
