/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent: 
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/reset" */
/* line 17, ../sass/screen.sass */
body {
  margin: 0;
  padding: 0;
  background: white url(../images/bg_eye.png) no-repeat right center;
  font-family: Verdana, Sans serif;
  font-size: 72%;
}
/* line 27, ../sass/screen.sass */
body header {
  display: block;
  background: transparent url(../images/header_cropped.jpg) no-repeat;
  height: 180px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  /*background-color: $darkgrey */
  color: white;
  /*border-bottom: 6px solid $beige */
}
/* line 37, ../sass/screen.sass */
body header h1 {
  padding-left: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* line 41, ../sass/screen.sass */
body header h2 {
  display: none;
}
/* line 44, ../sass/screen.sass */
body header #languages {
  font-size: 1.6em;
  padding-left: 30px;
}
/* line 48, ../sass/screen.sass */
body header nav {
  display: block;
  width: 100%;
  float: right;
  border-top: 13px solid black;
  width: 35%;
  padding-right: 15%;
}
/* line 56, ../sass/screen.sass */
body header nav ul {
  list-style: none;
  background: #e28b53;
  border-right: 13px solid black;
  margin: 0;
  padding: 0;
  overflow: auto;
}
/* line 63, ../sass/screen.sass */
body header nav ul li {
  text-align: center;
  display: inline;
  float: left;
  margin: 3px 6px;
  border-left: 2px solid black;
  text-transform: lowercase;
}
/* line 70, ../sass/screen.sass */
body header nav ul li.webgen-menu-item-selected {
  background-color: black;
  border-left: 2px solid white;
}
/* line 73, ../sass/screen.sass */
body header nav ul li a, body header nav ul li span {
  display: block;
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
}
/* line 79, ../sass/screen.sass */
body header nav ul li a:link, body header nav ul li a:visited, body header nav ul li span:link, body header nav ul li span:visited {
  display: block;
  background-color: #e28b53;
}
/* line 82, ../sass/screen.sass */
body header nav ul li a:link:hover, body header nav ul li a:visited:hover, body header nav ul li span:link:hover, body header nav ul li span:visited:hover {
  color: black;
  background-color: white;
}

/* line 88, ../sass/screen.sass */
section#content h1 {
  background: transparent url(../images/headline.png) no-repeat center left;
  text-align: right;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
/* line 92, ../sass/screen.sass */
section#content h1 span {
  display: block;
  width: 800px;
  margin: 0px auto;
}
/* line 97, ../sass/screen.sass */
section#content .inner {
  display: block;
  width: 800px;
  margin: 12px auto;
}
/* line 102, ../sass/screen.sass */
section#content .inner nav#submenu {
  float: right;
  padding-right: 12px;
}
/* line 105, ../sass/screen.sass */
section#content .inner nav#submenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 200px;
}
/* line 110, ../sass/screen.sass */
section#content .inner nav#submenu ul li {
  border-left: 2px solid black;
  padding: 3px 6px;
  margin: 3px;
}
/* line 116, ../sass/screen.sass */
section#content table th {
  text-align: left;
  padding-right: 12px;
}
/* line 120, ../sass/screen.sass */
section#content img.cover {
  border: 1px solid #1a1a1a;
  float: left;
  margin-right: 12px;
}
/* line 124, ../sass/screen.sass */
section#content ul, section#content ol {
  clear: both;
}

/* line 127, ../sass/screen.sass */
footer {
  display: block;
  clear: both;
  /*background-color: $darkgrey */
  color: white;
  text-transform: lowercase;
  margin-top: 56px;
  background: white url(../images/footer3.png) no-repeat left bottom;
  overflow: auto;
}
/* line 136, ../sass/screen.sass */
footer h3 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* line 138, ../sass/screen.sass */
footer a {
  color: #e28b53;
}
/* line 140, ../sass/screen.sass */
footer .inner {
  width: 800px;
  margin: 0px auto;
}
/* line 143, ../sass/screen.sass */
footer .column {
  width: 13em;
  float: left;
}
/* line 146, ../sass/screen.sass */
footer .copyright {
  clear: both;
  font-weight: bold;
  text-align: center;
  color: #e28b53;
}

/* line 153, ../sass/screen.sass */
a {
  text-decoration: none;
  color: #e28b53;
}
