 <!doctype html>
<html lang="{lang:}">
    <!--
	********************************************************************************

	Personal website of Daniel Senff

	********************************************************************************
    -->
  <head>
    <meta charset="utf-8">
    <meta name="description" content="description goes here" />
    <meta name="keywords" content="keywords,goes,here" />
    <meta name="author" content="Your Name" />
    <meta name="generator" content="webgen - http://webgen.rubyforge.org" />
    <link rel="stylesheet" type="text/css" href="{relocatable: default.css}" />
    <!--[if IE 6]>
        <link rel="stylesheet" href="{relocatable: browserfix.css}" type="text/css" />
        <![endif]-->
    <title>{title:}</title>
  </head>

  <body>
    <div id="main">
      <header>
        <h1>Website Title</h1>
        <h2>your website slogan</h2>
      </header>
    <div id="sidebar">
      

      <nav id="menu">
        {menu: {max_levels: 1, used_nodes: files}}
      </nav>

      <h3>Links:</h3>
      <ul>
        <li><a href="http://webgen.rubyforge.org">webgen homepage</a></li>
        <li><a href="http://andreasviklund.com/templates/">Website templates</a></li>
        <li><a href="http://openwebdesign.org/">Open Web Design</a></li>
        <li><a href="http://oswd.org/">OSWD.org</a></li>
      </ul>
    </div>

    <section id="content">
      <webgen:block name="content" />

    </section>
  </body>
</html>
