 <!doctype html>
<html lang="{lang:}">
    <!--
	********************************************************************************

	Personal website of Daniel Senff

	********************************************************************************
    -->
  <head>
    <meta charset="utf-8">
    <meta name="description" content="description goes here" />
    <meta name="keywords" content="Daniel, Dahie, Senff, Java, Rails, HTML, CTDP" />
    <meta name="author" content="Daniel Senff" />
    <meta name="generator" content="webgen - http://webgen.rubyforge.org" />
    <link href="{relocatable: /stylesheets/screen.css}" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{relocatable: /stylesheets/print.css}" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="{relocatable: /stylesheets/ie.css}" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <title>{title:}</title>
  </head>

  <body>
    <div id="main">
      <header>
        <h1>Website Title</h1>
        <h2>your website slogan</h2>
      </header>
    <div id="sidebar">
      

      <nav id="menu">
        {menu: {max_levels: 1, used_nodes: files}}
      </nav>

      <h3>Links:</h3>
      <ul>
        <li><a href="http://www.unmedial.de">Blog</a></li>
        <li><a href="http://www.twitter.com/Dahie">Twitter</a></li>
      </ul>
    </div>

    <section id="content">
      <webgen:block name="content" />

    </section>
  </body>
</html>
