 <!doctype html>
<html lang="{lang:}">
    <!--
	********************************************************************************

	Personal website of Daniel Senff

	********************************************************************************
    -->
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Webseite von Daniel Senff, Berliner Programmierer in Ruby-on-Rails und Java" />
    <meta name="keywords" content="Daniel, Dahie, Senff, Daniel Senff, Java, Rails, HTML, CTDP, Ruby, Portfolio, Profile, Steckbrief, IMI, HTW-Berlin, FHTW, ImageFlow, DDSUtils, ImageJ" />
    <meta name="author" content="Daniel Senff" />
    <meta name="generator" content="webgen - http://webgen.rubyforge.org" />
		<link rel="shortcut icon" href="{relocatable: /images/favicon.ico}" />
    <link href="{relocatable: /css/screen.css}" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{relocatable: /css/print.css}" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="{relocatable: /css/ie.css}" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <title>danielsenff.de - {title:}</title>
  </head>

  <body>
		<header>
			<h1><a href="{relocatable: /}">danielsenff.de</a></h1>
			<h2>your website slogan</h2>
			
			<div id="languages">
        {langbar:}
      </div>
			
			<nav id="menu">
				{menu: {max_levels: 1, used_nodes: files}}
			</nav>  
		</header>
		
    <section id="content">
			<h1><span>{title:}</span></h1>
			<nav id="submenu">
				{menu: {start_level: 2, max_levels: 2, used_nodes: files}}
			</nav>  
			<div class="inner">
				<webgen:block name="content" />
			</div>
    </section>
		
		<footer>
		  <div class="inner">
				<div class="column">
					<h3>Lesen:</h3>
					<ul>
						<li><a href="http://www.unmedial.de">Blog</a></li>
						<li><a href="http://www.twitter.com/Dahie">Twitter</a></li>
					</ul>
				</div>
				<div class="column">
					<h3>Netzwerken:</h3>
					<ul>
						<li><a href="https://www.xing.com/profile/Daniel_Senff">Xing</a></li>
						<li><a href="https://github.com/Dahie">github</a></li>
					</ul>
				</div>
				<p class="copyright">&copy; Daniel Senff 2010
				</p>
			</div>
		</footer>
  </body>
</html>
