%section
  / About Title Starts
  .bl-box.valign-wrapper
    .page-title.center-align
      %h2.center-align
        %span{"data-hover" => "About"} About
        %span{"data-hover" => "Me"} Me
  / About Title Ends
  / About Expanded Starts
  .bl-content
    / Main Heading Starts
    .container.page-title.custom-page-title
      %h2.center-align
        %span About
        %span Me
    / Main Heading Ends
    .container.infos
      / Divider Starts
      .divider.center-align
        %span.outer-line
        %span.fa.fa-vcard{"aria-hidden" => "true"}
        %span.outer-line
      / Divider Ends
      / Personal Informations Starts
      .row
        / Picture Starts
        .col.s12.m4.profile-picture.show-on-medium-and-down.section-padding
          %img.responsive-img.my-picture{:alt => "My Photo", :src => "http://via.placeholder.com/594x1032"}/
        / Picture Ends
        .col.s12.m8.l12.xl12.personal-info.section-padding
          %h6.uppercase
            %i.fa.fa-user
            Personal Info
          .col.m12.l12.xl9.p-none
            %p.second-font
              I have been described as a unicorn. I studied Media & Computer Science and worked in Web development (Fullstack, Ruby for Backend and Frontend) for 8 years before moving into Product and Project Management in 2018 in my last company. This grew into a new passion and today I describe my personal goal as „connecting people to build awesome things together“.
            %p
              I’m quick to get into new projects or adjust to changing requirements.
              My strength is understanding and breaking down challenges into realizable work packages.
              %br
              I enjoy working with stakeholders to find solutions together that all can align to. Colleagues appreciated my skills to explain and translate technical language.
              %br
              I enjoyed managing culturally and skill-diverse teams and provide an atmosphere of trust to use their expertise and help them grow.
              I follow a product-focused and metrics-driven approach and check-in with people with different perspectives if the number confirms their perception.
              I like to get things done well, enjoy negotiating what the smallest viable solution is and how it can be prioritized in the big scope of topics.

            %p
              Besides my professional work, I follow my own creative projects. I write and produce my own music. I’ve been traveling regularly for years and I support political organizations like Code Curious.
          .col.s12.m12.l6.p-none
            %ul.second-font.list-1
              %li
                %span.font-weight-700 Name:
                Daniel Senff
              %li
                %span.font-weight-700 Date of birth:
                14 december 1985
              %li
                %span.font-weight-700 Nationality:
                German
          .col.s12.m12.l6.p-none
            %ul.second-font.list-2
              %li
                %span.font-weight-700 Address:
                Berlin, Europe
              %li
                %span.font-weight-700 Email:
                public@danielsenff.de
              %li
                %span.font-weight-700 Spoken Langages:
                German, English, French (Basic), Spanish (Basic), Japanese (Basic)
          /
            <a href="#" class="btn font-weight-700">
            Download Resume <i class="fa fa-file-pdf-o"></i>
            </a>
            <a href="blog-light.html" class="btn btn-blog font-weight-700">
            My Blog <i class="fa fa-edit"></i>
            </a>
      / Personal Informations Ends

      = partial 'resume'

  / End Expanded About
  %img.bl-icon-close{:alt => "close", :src => "images/close-button.png"}/
