<section>
    <!-- About Title Starts -->
    <div class="bl-box valign-wrapper">
        <div class="page-title center-align">
            <h2 class="center-align">
                <span data-hover="About">About </span>
                <span data-hover="Me">Me</span>
            </h2>
        </div>
    </div>
    <!-- About Title Ends -->
    <!-- About Expanded Starts -->
    <div class="bl-content">
        <!-- Main Heading Starts -->
        <div class="container page-title custom-page-title">
            <h2 class="center-align">
                <span>About</span>
                <span>Me</span>
            </h2>
        </div>
        <!-- Main Heading Ends -->
        <div class="container infos">
            <!-- Divider Starts -->
            <div class="divider center-align">
                <span class="outer-line"></span>
                <span class="fa fa-vcard" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <!-- Personal Informations Starts -->
            <div class="row">
                <!-- Picture Starts -->
                <div class="col s12 m4 profile-picture show-on-medium-and-down section-padding">
                    <img src="http://via.placeholder.com/594x1032" class="responsive-img my-picture" alt="My Photo">
                </div>
                <!-- Picture Ends -->
                <div class="col s12 m8 l12 xl12 personal-info section-padding">
                    <h6 class="uppercase"><i class="fa fa-user"></i> Personal Info</h6>
                    <div class="col m12 l12 xl9 p-none">
                        <p class="second-font">I'm a Senior Software Developer and Project Manager focussing on Web applications. I produce my own music and I like to travel.
                        </p>
                    </div>
                    <div class="col s12 m12 l6 p-none">
                        <ul class="second-font list-1">
                            <li><span class="font-weight-700">Name: </span>Daniel Senff</li>
                            <li><span class="font-weight-700">Date of birth: </span>14 december 1985</li>
                            <li><span class="font-weight-700">Nationality: </span>German</li>
                        </ul>
                    </div>
                    <div class="col s12 m12 l6 p-none">
                        <ul class="second-font list-2">
                            <li><span class="font-weight-700">Address: </span>Berlin, Europe</li>
                            <li><span class="font-weight-700">Email: </span>public@danielsenff.de</li>
                            <li><span class="font-weight-700">Spoken Langages: </span>German,  English</li>
                        </ul>
                    </div>
                    <!--<a href="#" class="btn font-weight-700">
                      Download Resume <i class="fa fa-file-pdf-o"></i>
                    </a>
                    <a href="blog-light.html" class="btn btn-blog font-weight-700">
                      My Blog <i class="fa fa-edit"></i>
                    </a>-->
                </div>
            </div>
            <!-- Personal Informations Ends -->
        </div>
    </div>
    <!-- End Expanded About -->
    <img alt="close" src="images/close-button.png" class="bl-icon-close" />
</section>
