%section
  / About Title Starts
  .bl-box.valign-wrapper
    .page-title.center-align
      %h2.center-align
        %span{"data-hover" => "About"} About
        %span{"data-hover" => "Me"} Me
  / About Title Ends
  / About Expanded Starts
  .bl-content
    / Main Heading Starts
    .container.page-title.custom-page-title
      %h2.center-align
        %span About
        %span Me
    / Main Heading Ends
    .container.infos
      / Divider Starts
      .divider.center-align
        %span.outer-line
        %span.fa.fa-vcard{"aria-hidden" => "true"}
        %span.outer-line
      / Divider Ends
      / Personal Informations Starts
      .row
        .col.s12.m8.l12.xl12.personal-info.section-padding
          %h6.uppercase
            %i.fa.fa-user
            Personal Info
          .col.m12.l12.xl9.p-none
            %p.second-font
              "Connecting people to build awesome things together"
              %br
              Product manager with a background in International Media & Computer Science, 4 years experience in Product Management and 11 years in Software Development.
            %p
              Expertise in project and agile product management, leading cross-functional teams and stakeholder management in start-up and public enterprise environments. A quick learner with the unique skill to translate technical understanding and a passion to aim for the smallest viable solution. As a people manager, I focus on enablement and building a culture of trust. I learned to value outcome over output.

          .col.s12.m12.l6.p-none
            %ul.second-font.list-1
              %li
                %span.font-weight-700 Name:
                Daniel Senff
              %li
                %span.font-weight-700 Date of birth:
                14 december 1985
              %li
                %span.font-weight-700 Nationality:
                German
          .col.s12.m12.l6.p-none
            %ul.second-font.list-2
              %li
                %span.font-weight-700 Address:
                Vienna, Europe
              %li
                %span.font-weight-700 Email:
                public@danielsenff.de
              %li
                %span.font-weight-700 Spoken Langages:
                German, English, French (Basic), Spanish (Basic), Japanese (Basic)
          /
            <a href="#" class="btn font-weight-700">
            Download Resume <i class="fa fa-file-pdf-o"></i>
            </a>
            <a href="blog-light.html" class="btn btn-blog font-weight-700">
            My Blog <i class="fa fa-edit"></i>
            </a>
      / Personal Informations Ends

      .col.s12.m8.l12.xl12.personal-info.section-padding
        = partial 'resume_all'

  / End Expanded About
  %img.bl-icon-close{:alt => "close", :src => "images/close-button.png"}/
