<section>
    <!-- Contact Title Starts -->
    <div class="bl-box valign-wrapper">
        <div class="page-title center-align">
            <h2 class="center-align">
                <span data-hover="get">get </span>
                <span data-hover="in touch">in touch</span>
            </h2>
        </div>
    </div>
    <!-- Contact Title Ends -->
    <!-- Expanded Contact Starts -->
    <div class="bl-content">
        <!-- Main Heading Starts -->
        <div class="container page-title center-align">
            <h2 class="center-align">
                <span data-hover="get">get </span>
                <span data-hover="in touch">in touch</span>
            </h2>
        </div>
        <!-- Main Heading Ends -->
        <div class="container">
            <!-- Divider Starts -->
            <div class="divider center-align">
                <span class="outer-line"></span>
                <span class="fa fa-envelope-open" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <div class="row contact section-padding">
                <!-- Contact Infos Starts -->
                <div class="col s12 m5 l5 xl4 leftside">
                    <!-- Contacts Starts -->
                    <h6 class="font-weight-700 uppercase">Email</h6>
                    <span class="font-weight-400 second-font"><i class="fa fa-envelope"></i> public@danielsenff.de</span>
                    <h6 class="font-weight-700 uppercase">Skype</h6>
                    <span class="font-weight-400 second-font"><i class="fab fa-skype"></i> dahiesenff</span>
                    <h6 class="font-weight-700 uppercase">Location</h6>
                    <span class="font-weight-400 second-font"><i class="fa fa-home"></i> Vienna, Europe</span><br>
                    <!-- Contacts Ends -->
                    <!-- Social Media Profiles Starts -->
                    <h6 class="font-weight-700 uppercase">Social Profiles</h6>
                    <div class="social">
                        <ul class="list-inline social social-intro center-align p-none">
                            <li class="twitter"><a href="https://chaos.social/@dahie" rel="me"><i class="fab fa-mastodon"></i></a></li>
                            <li class="linkedin"><a href="https://www.linkedin.com/in/daniel-senff-61502b18a/"><i class="fab fa-linkedin"></i></a></li>
                            <li class="linkedin"><a href="https://www.xing.com/profile/Daniel_Senff"><i class="fab fa-xing"></i></a></li>
                        </ul>
                    </div>
                    <!-- Social Media Profiles Ends -->
                </div>
                <!-- Contact Infos Ends -->
                <div class="col s12 m7 l7 xl8 rightside">
                    <h6 class="uppercase m-none font-weight-700">Feel free to drop me a line</h6>
                    <div class="row">
                        <p class="col s12 m12 l12 xl10 second-font">
                            If you have any suggestion, projects or even you want to say Hello.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Expanded Contact Ends -->
    <img alt="close" src="images/close-button.png" class="bl-icon-close" />
</section>
