<div class="container badges">
    <div class="row">
        <!-- Fact Badge Item Starts -->
        <div class="col s12 m4 l4 center-align">
            <h3>
                <i class="fa fa-briefcase"></i>
                <span class="font-weight-900">10+</span>
            </h3>
            <h6 class="uppercase font-weight-700">Years Experience</h6>
        </div>
        <!-- Fact Badge Item Ends -->
        <!-- Fact Badge Item Starts -->
        <div class="col s12 m4 l4 center-align">
            <h3>
                <i class="fa fa-handshake-o"></i>
                <span class="font-weight-900">89+</span>
            </h3>
            <h6 class="uppercase font-weight-700">Done Projects</h6>
        </div>
        <!-- Fact Badge Item Ends -->
        <!-- Fact Badge Item Starts -->
        <div class="col s12 m4 l4 center-align">
            <h3>
                <i class="fa fa-heart-o"></i>
                <span class="font-weight-900">77+</span>
            </h3>
            <h6 class="uppercase font-weight-700">Happy customers</h6>
        </div>
        <!-- Fact Badge Item Ends -->
    </div>
</div>
