.col.s12.m8.l12.xl12.personal-info.section-padding
  %h6.uppercase
    %i.fa.fa-user
    Overview
  .col.m12.l12.xl9.p-none
    %p.second-font
      summary of stuff
  .col.s12.m12.l6.p-none
    %ul.second-font.list-1
      %li
        %span.font-weight-700> Name:
        Daniel Senff
      %li
        %span.font-weight-700> Date of birth:
        14 december 1985
      %li
        %span.font-weight-700> Nationality:
        German


.col.s12.m8.l12.xl12.personal-info.section-padding
  %h6.uppercase
    %i.fa.fa-user
    Overview
  .col.m12.l12.xl9.p-none
    %p.second-font
      summary of stuff
  .col.s12.m12.l6.p-none
    %ul.second-font.list-1
      %li
        %span.font-weight-700> Name:
        Daniel Senff
      %li
        %span.font-weight-700> Date of birth:
        14 december 1985
      %li
        %span.font-weight-700> Nationality:
        German
