<div class="bl-panel-items" id="bl-panel-work-items">
    <!-- Project Starts -->
    <div data-panel="panel-1">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6 section-padding section-padding-right-none">
                <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="project" />
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6 section-padding">
                <h3 class="font-weight-700 uppercase">Imageflow / Bachelor Thesis</h3>
                <ul class="project-details second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-700"> Client </span>: <span class="font-weight-400 uppercase">Envato</span></li>
                    <li><i class="fa fa-calendar-o"></i><span class="font-weight-700"> Start Date </span>: <span class="font-weight-400 uppercase">01/10/2008</span></li>
                    <li><i class="fa fa-calendar-check-o"></i><span class="font-weight-700"> End Date </span>: <span class="font-weight-400 uppercase">30/03/2010</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-700"> Used Technologies</span> : <span class="font-weight-400 uppercase">Java, ImageJ</span></li>
                </ul>
                <hr>
                <a href="#" class="waves-effect waves-light btn font-weight-700">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->

    <%= partial 'project_dance_baby' %>
    <%= partial 'project_blight' %>
    <%= partial 'project_ctdp' %>

    <!-- Project Starts -->
    <div data-panel="panel-5">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6 section-padding section-padding-right-none">
                <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="project" />
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6 section-padding">
                <h3 class="font-weight-700 uppercase">Image Project</h3>
                <ul class="project-details second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-700"> Client </span>: <span class="font-weight-400 uppercase">Graphicriver</span></li>
                    <li><i class="fa fa-calendar-o"></i><span class="font-weight-700"> Start Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-calendar-check-o"></i><span class="font-weight-700"> End Date </span>: <span class="font-weight-400 uppercase">02/08/2018</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-700"> Used Technologies</span> : <span class="font-weight-400 uppercase">Adobe Photoshop, Gimp</span></li>
                </ul>
                <hr>
                <a href="#" class="waves-effect waves-light btn font-weight-700">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Project Starts -->
    <div data-panel="panel-6">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6 section-padding section-padding-right-none">
                <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="project" />
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6 section-padding">
                <h3 class="font-weight-700 uppercase">Image Project</h3>
                <ul class="project-details second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-700"> Client </span>: <span class="font-weight-400 uppercase">Activeden</span></li>
                    <li><i class="fa fa-calendar-o"></i><span class="font-weight-700"> Start Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-calendar-check-o"></i><span class="font-weight-700"> End Date </span>: <span class="font-weight-400 uppercase">02/08/2018</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-700"> Used Technologies</span> : <span class="font-weight-400 uppercase">Adobe Flash, Paint</span></li>
                </ul>
                <hr>
                <a href="#" class="waves-effect waves-light btn font-weight-700">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Project Starts -->
    <div data-panel="panel-7">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6 section-padding section-padding-right-none">
                <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="project" />
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6 section-padding">
                <h3 class="font-weight-700 uppercase">Image Project</h3>
                <ul class="project-details second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-700"> Client </span>: <span class="font-weight-400 uppercase">3D Ocean</span></li>
                    <li><i class="fa fa-calendar-o"></i><span class="font-weight-700"> Start Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-calendar-check-o"></i><span class="font-weight-700"> End Date </span>: <span class="font-weight-400 uppercase">02/08/2018</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-700"> Used Technologies</span> : <span class="font-weight-400 uppercase">3DS Max, Adobe Photoshop</span></li>
                </ul>
                <hr>
                <a href="#" class="waves-effect waves-light btn font-weight-700">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Project Starts -->
    <div data-panel="panel-8">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6 section-padding section-padding-right-none">
                <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="project" />
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6 section-padding">
                <h3 class="font-weight-700 uppercase">Image Project</h3>
                <ul class="project-details second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-700"> Client </span>: <span class="font-weight-400 uppercase">Audiojungle</span></li>
                    <li><i class="fa fa-calendar-o"></i><span class="font-weight-700"> Start Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-calendar-check-o"></i><span class="font-weight-700"> End Date </span>: <span class="font-weight-400 uppercase">02/08/2018</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-700"> Used Technologies</span> : <span class="font-weight-400 uppercase">Adobe Audition, Adobe Premiere</span></li>
                </ul>
                <hr>
                <a href="#" class="waves-effect waves-light btn font-weight-700">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Project Starts -->
    <div data-panel="panel-9">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6 section-padding section-padding-right-none">
                <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="project" />
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6 section-padding">
                <h3 class="font-weight-700 uppercase">Image Project</h3>
                <ul class="project-details second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-700"> Client </span>: <span class="font-weight-400 uppercase">Audiojungle</span></li>
                    <li><i class="fa fa-calendar-o"></i><span class="font-weight-700"> Start Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-calendar-check-o"></i><span class="font-weight-700"> End Date </span>: <span class="font-weight-400 uppercase">02/08/2018</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-700"> Used Technologies</span> : <span class="font-weight-400 uppercase">Adobe Audition, Adobe Premiere</span></li>
                </ul>
                <hr>
                <a href="#" class="waves-effect waves-light btn font-weight-700">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Portfolio Navigation Starts -->
    <nav>
        <!-- Previous Work Icon Starts -->
        <span class="control-button bl-previous-work"><i class="fa fa-angle-left"></i></span>
        <!-- Previous Work Icon Ends -->
        <!-- Close Work Icon Starts -->
        <img alt="close" src="images/close-button.png" class="control-button bl-icon-close" />
        <!-- Close Work Icon Ends -->
        <!-- Next Work Icon Starts -->
        <span class="control-button bl-next-work"><i class="fa fa-angle-right"></i></span>
        <!-- Previous Work Icon Ends -->
    </nav>
    <!-- Portfolio Navigation Ends -->
</div>
