<div data-panel="panel-blight">
    <div class="row">
        <!-- Project Main Content Starts -->
        <div class="col s12 l6 xl6 section-padding section-padding-right-none">
            <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="project" />
            <div class="videocontainer">
              <iframe class="youtube-video" src="https://www.youtube.com/embed/mI1V9hmrdKA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <!-- Project Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="col s12 l6 xl6 section-padding">
            <h3 class="font-weight-700 uppercase">Dance, Baby</h3>
            <ul class="project-details second-font">
                <li><i class="fa fa-calendar-o"></i><span class="font-weight-700"> Release Date </span>: <span class="font-weight-400 uppercase">2017/10/31</span></li>
                <li><i class="fa fa-cogs"></i> <span class="font-weight-700"> Used Technologies</span> : <span class="font-weight-400 uppercase">Garageband, Photoshop, iMovie</span></li>
            </ul>
            <hr>
            <a href="https://dahie.bandcamp.com/track/blight" class="waves-effect waves-light btn font-weight-700">Bandcamp <i class="fa fa-external-link"></i></a>
            <a href="https://soundcloud.com/dahie/blight" class="waves-effect waves-light btn font-weight-700">Soundcloud <i class="fa fa-external-link"></i></a>
        </div>
        <!-- Project Details Ends -->
    </div>
</div>
