#bl-work-items-list.row.center-align.da-thumbs
  .col.s12.m4.l4.xl3
    %a{:href => "https://github.com/dahie"}
      %img.responsive-img{:alt => "Project", :src => "images/profile-github.jpg"}/
      .valign-wrapper
        %span.font-weight-700.uppercase Github

  .col.s12.m4.l4.xl3
    %a{:href => "https://www.youtube.com/channel/UCrS2M-Jv_FL4ZIxjaZ4cN5Q"}
      %img.responsive-img{:alt => "Project", :src => "images/profile-youtube.png"}/
      .valign-wrapper
        %span.font-weight-700.uppercase Youtube

  .col.s12.m4.l4.xl3
    %a{:href => "https://soundcloud.com/Dahie"}
      %img.responsive-img{:alt => "Project", :src => "images/profile-soundcloud.png"}/
      .valign-wrapper
        %span.font-weight-700.uppercase Soundcloud

  .col.s12.m4.l4.xl3
    %a{:href => "https://dahie.bandcamp.com"}
      %img.responsive-img{:alt => "Project", :src => "images/profile-bandcamp.png"}/
      .valign-wrapper
        %span.font-weight-700.uppercase Bandcamp

  .col.s12.m4.l4.xl3
    %a{:href => "https://www.xing.com/profile/Daniel_Senff"}
      %img.responsive-img{:alt => "Project", :src => "images/profile-xing.png"}/
      .valign-wrapper
        %span.font-weight-700.uppercase Xing

  .col.s12.m4.l4.xl3
    %a{:href => "https://www.linkedin.com/in/daniel-senff-61502b18a/"}
      %img.responsive-img{:alt => "Project", :src => "images/profile-linkedin.png"}/
      .valign-wrapper
        %span.font-weight-700.uppercase LinkedIn

  .col.s12.4.l4.xl3
    %a{:href => "https://medium.com/@dahiesenff"}
      %img.responsive-img{:alt => "Project", :src => "images/profile-medium.png"}/
      .valign-wrapper
        %span.font-weight-700.uppercase Medium

  .col.s12.m4.l4.xl3
    %a{:href => "https://www.researchgate.net/profile/Daniel_Senff2"}
      %img.responsive-img{:alt => "Project", :src => "images/profile-researchgate.png"}/
      .valign-wrapper
        %span.font-weight-700.uppercase Researchgate
