.resume-container
  .container
    .valign-wrapper.row
      / Resume Menu Starts
      .resume-list.col.l4.section-padding
        #resume-list-item-0.resume-list-item.is-active{"data-index" => "0"}
          .resume-list-item-inner
            %h6.resume-list-item-title.uppercase
              %i.fa.fa-briefcase
              Overview
        #resume-list-item-1.resume-list-item{"data-index" => "1"}
          .resume-list-item-inner
            %h6.resume-list-item-title.uppercase
              %i.fa.fa-briefcase
              Experience
        #resume-list-item-2.resume-list-item{"data-index" => "2"}
          .resume-list-item-inner
            %h6.resume-list-item-title.uppercase
              %i.fa.fa-graduation-cap
              Education
      / Resume Menu Ends


      / Resume Content Starts
      .col.s12.m12.l8.resume-cards-container.section-padding
        .resume-cards
          / Overview Starts
          = partial 'resume_overview'
          / Overview Ends

          / Experience Starts
          = partial 'resume_experience'
          / Experience Ends

          / Education Starts
          = partial 'resume_education'
          / Education Ends
      / Resume Content Ends
