.resume-container
  .container
    .valign-wrapper.row
      / Resume Menu Starts
      .resume-list.col.l4.section-padding
        #resume-list-item-0.resume-list-item.is-active{"data-index" => "0"}
          .resume-list-item-inner
            %h6.resume-list-item-title.uppercase
              %i.fa.fa-briefcase
              Experience
        #resume-list-item-1.resume-list-item{"data-index" => "1"}
          .resume-list-item-inner
            %h6.resume-list-item-title.uppercase
              %i.fa.fa-graduation-cap
              Education
        #resume-list-item-2.resume-list-item{"data-index" => "2"}
          .resume-list-item-inner
            %h6.resume-list-item-title.uppercase
              %i.fa.fa-star
              Skills
      / Resume Menu Ends
      / Resume Content Starts
      .col.s12.m12.l8.resume-cards-container.section-padding
        .resume-cards
          / Experience Starts
          .resume-card.resume-card-0{"data-index" => "0"}
            / Experience Header Title Starts
            .resume-card-header
              .resume-card-name
                %i.fa.fa-briefcase
                Experience
            / Experience Header Title Ends
            / Experience Content Starts
            .resume-card-body.experience
              .resume-card-body-container.second-font
                / Single Experience Starts
                .resume-content
                  %h6.uppercase
                    %span> Software Developer/Project Manager -
                    MODOMOTO
                  %span.date
                    %i.fa.fa-calendar-o
                    2013 - today
                  %p Concept and implementation of applications supporting internal workflows.
                / Single Experience Ends
                %span.separator
                / Single Experience Starts
                .resume-content
                  %h6.uppercase
                    %span> Web Developer -
                    Dailyme
                  %span.date
                    %i.fa.fa-calendar-o
                    2010 - 2013
                  %p Web applications for supporting a mobile video service.
                / Single Experience Ends
                %span.separator
                /
                  Single Experience Starts
                  <div class="resume-content">
                  <h6 class="uppercase"><span>Community Manager - </span>Adobe</h6>
                  <span class="date"><i class="fa fa-calendar-o"></i> 2007 - 2011</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper</p>
                  </div>
                  <!-- Single Experience Ends
            / Experience Content Starts
          / Experience Ends
          / Education Starts
          .resume-card.resume-card-1{"data-index" => "1"}
            / Education Header Title Starts
            .resume-card-header
              .resume-card-name
                %i.fa.fa-graduation-cap
                Education
            / Education Header Title Starts
            .resume-card-body.education
              .resume-card-body-container.second-font
                / Single Education Starts
                .resume-content
                  %h6.uppercase
                    %span> Engineering Diploma -
                    Oxford University
                  %span.date
                    %i.fa.fa-calendar-o
                    2015 - 2018
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper
                / Single Education Ends
                %span.separator
                / Single Education Starts
                .resume-content
                  %h6.uppercase
                    %span> Masters Degree -
                    Paris University
                  %span.date
                    %i.fa.fa-calendar-o
                    2011 - 2015
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper
                / Single Education Ends
                %span.separator
                / Single Education Starts
                .resume-content
                  %h6.uppercase
                    %span> Bachelor Degree -
                    Berlin Higher Institute
                  %span.date
                    %i.fa.fa-calendar-o
                    2007 - 2011
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper
                / Single Education Ends
          / Education Ends
          / Skills Starts
          .resume-card.resume-card-2{"data-index" => "2"}
            / Skills Header Title Starts
            .resume-card-header
              .resume-card-name
                %i.fa.fa-star
                Skills
            / Skills Header Title Starts
            .resume-card-body.skills
              .resume-card-body-container.second-font
                .row
                  / Skills Row Starts
                  .col.s6
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase html
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                    / Single Skills Ends
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase javascript
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star-half-empty
                    / Single Skills Ends
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase css
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star-half-empty
                    / Single Skills Ends
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase php
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                    / Single Skills Ends
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase jquery
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                    / Single Skills Ends
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase angular js
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                    / Single Skills Ends
                  / Skills Row Ends
                  / Skills Row Starts
                  .col.s6
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase wordpress
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star-half-empty
                    / Single Skills Ends
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase joomla
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star-half-empty
                        %i.fa.fa-star-o
                    / Single Skills Ends
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase magento
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star-o
                    / Single Skills Ends
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase drupal
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                    / Single Skills Ends
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase Adobe Photoshop
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star-o
                    / Single Skills Ends
                    / Single Skills Starts
                    .resume-content
                      %h6.uppercase Adobe illustrator
                      %p
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star
                        %i.fa.fa-star-half-empty
                        %i.fa.fa-star-o
                    / Single Skills Ends
                  / Skills Row Ends
          / Skills Ends
      / Resume Content Ends
