.resume-card.resume-card-2{"data-index" => "2"}
  / Education Header Title Starts
  .resume-card-header
    .resume-card-name
      %i.fa.fa-graduation-cap
      Education

  / Education Header Title Starts
  .resume-card-body.education
    .resume-card-body-container.second-font

      / Single Education Starts
      .resume-content
        %h6.uppercase
          %span MSc Media & Computing -
          = link_to 'University of Applied Sciences Berlin', 'https://www.htw-berlin.de'
        %span.date
          %i.fa.fa-calendar-o
          2009 - 2013
        %p
          Specialization: Visual processing
          %br
          Topics: Web development, Game development, Semantic Web, Math
      / Single Education Ends

      %span.separator

      / Single Education Starts
      .resume-content
        %h6.uppercase
          %span BSc Media & Computing -
          = link_to 'University of Applied Sciences Berlin', 'https://www.htw-berlin.de'
        %span.date
          %i.fa.fa-calendar-o
          2005 - 2009
        %p
          Topics: Media theory, Media production, Media law, Media
          programming, Web development, Game design, Math, English, Spanish
      / Single Education Ends

      %span.separator

      / Single Education Starts
      .resume-content
        %h6.uppercase
          %span> German A-Level -
          Rohr-Gymnasium Grabow
        %span.date
          %i.fa.fa-calendar-o
          1993 - 2005
        %p General A-Level with specialization on Math and English
      / Single Education Ends
