.resume-card.resume-card-0{"data-index" => "0"}
  / Education Header Title Starts
  .resume-card-header
    .resume-card-name
      %i.fa.fa-graduation-cap
      Overview

  / Education Header Title Starts
  .resume-card-body.education
    .resume-card-body-container.second-font

      / Single Education Starts
      .resume-content
        %h6.uppercase
          %span Overview
        %ul.browser-default
          %li
            Acted as a bridge between user, technical, and business needs, gather requirements and combine them into specifications and technical work packages
          %li
            Worked as a strategic partner with product management and engineering to determine product goals and direction
          %li
            Iterative approach
            Established collaborative cross-team practices for design and product development
            Taken a data-driven, experimental approach to UI design

      / Single Education Ends

      %span.separator


      Low- and high-fidelity prototyping
      Design system use and management
      Various styles of meeting and workshop moderation
