.resume-card.resume-card-3{"data-index" => "3"}
  / Skills Header Title Starts
  .resume-card-header
    .resume-card-name
      %i.fa.fa-star
      Skills
  / Skills Header Title Starts
  .resume-card-body.skills
    .resume-card-body-container.second-font
      .row
        - { ruby: 5,
            javascript: 3,
            html: 5,
            css: 4,
            photoshop: 4,
            'product management' => 5 }


        / Skills Row Starts
        .col.s6
          / Single Skills Starts
          .resume-content
            %h6.uppercase html

          / Single Skills Ends
          / Single Skills Starts
          .resume-content
            %h6.uppercase javascript

          / Single Skills Ends
          / Single Skills Starts
          .resume-content
            %h6.uppercase css
            %p
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star-half-empty
          / Single Skills Ends
          / Single Skills Starts
          .resume-content
            %h6.uppercase php
            %p
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star-o
              %i.fa.fa-star-o
          / Single Skills Ends
          / Single Skills Starts
          .resume-content
            %h6.uppercase jquery
            %p
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
          / Single Skills Ends
          / Single Skills Starts
          .resume-content
            %h6.uppercase angular js
            %p
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star-o
              %i.fa.fa-star-o
          / Single Skills Ends
        / Skills Row Ends
        / Skills Row Starts
        .col.s6
          / Single Skills Starts
          .resume-content
            %h6.uppercase wordpress
            %p
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star-half-empty
          / Single Skills Ends
          / Single Skills Starts
          .resume-content
            %h6.uppercase joomla
            %p
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star-half-empty
              %i.fa.fa-star-o
          / Single Skills Ends
          / Single Skills Starts
          .resume-content
            %h6.uppercase magento
            %p
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star-o
          / Single Skills Ends
          / Single Skills Starts
          .resume-content
            %h6.uppercase drupal
            %p
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
          / Single Skills Ends
          / Single Skills Starts
          .resume-content
            %h6.uppercase Adobe Photoshop
            %p
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star-o
          / Single Skills Ends
          / Single Skills Starts
          .resume-content
            %h6.uppercase Adobe illustrator
            %p
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star-half-empty
              %i.fa.fa-star-o
          / Single Skills Ends
        / Skills Row Ends
