---
title: Daniel Senff | Software development, Project management, Traveling and Music
---

<div class="wrapper">
	<div class="main-picture hide-on-med-and-down">
	</div>
    <div id="bl-main" class="bl-main">
        <!-- Top Left Section Starts -->
        <section class="topleft">
            <div class="bl-box row valign-wrapper">
                <div class="row valign-wrapper mb-0">
                    <div class="title-heading">
                        <div class="selector uppercase" id="selector">
                            <h3 class="ah-headline p-none m-none">
                                <!--<span class="font-weight-400">Hi There ! I'm</span>-->
								<span class="my-name">Daniel Senff</span>
                                <span class="ah-words-wrapper">
									<b class="is-visible">software developer</b>
									<b>project manager</b>
									<b>traveler</b>
                                    <b>musician</b>
								</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Top Left Section Ends -->

        <%= partial 'about' %>

        <%= partial 'portfolio' %>

        <%= partial 'contact' %>

        <%= partial 'portfolio_panel_items' %>
    </div>
</div>
