---
title: Daniel Senff | Software development, Project management, Traveling and Music
---
.main-picture.hide-on-med-and-down
#bl-main.bl-main
  / Top Left Section Starts
  %section.topleft
    .bl-box.row.valign-wrapper
      .row.valign-wrapper.mb-0
        .title-heading
          #selector.selector.uppercase
            %h3.ah-headline.p-none.m-none
              / <span class="font-weight-400">Hi There ! I'm</span>
              %span.my-name Daniel Senff
              %span.ah-words-wrapper
                %b.is-visible software developer
                %b project manager
                %b traveler
                %b musician

  / Top Left Section Ends
  = partial 'about'
  = partial 'portfolio'
  = partial 'contact'
  = partial 'portfolio_panel_items'
