<div data-panel="panel-ctdp">
    <div class="row">
        <!-- Project Main Content Starts -->
        <div class="col s12 l6 xl6 section-padding section-padding-right-none">
            <video id="video" class="responsive-video" controls poster="http://via.placeholder.com/561x315">
                <source src="images/projects/video/video.mp4" type="video/mp4">
            </video>
        </div>
        <!-- Project Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="col s12 l6 xl6 section-padding">
            <h3 class="font-weight-700 uppercase">Local Video</h3>
            <ul class="project-details second-font">
                <li><i class="fa fa-user"></i><span class="font-weight-700"> Client </span>: <span class="font-weight-400 uppercase">Videohive</span></li>
                <li><i class="fa fa-calendar-o"></i><span class="font-weight-700"> Start Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                <li><i class="fa fa-calendar-check-o"></i><span class="font-weight-700"> End Date </span>: <span class="font-weight-400 uppercase">02/08/2018</span></li>
                <li><i class="fa fa-cogs"></i> <span class="font-weight-700"> Used Technologies</span> : <span class="font-weight-400 uppercase">Adobe After Effects, Movie Maker</span></li>
            </ul>
            <hr>
            <a href="#" class="waves-effect waves-light btn font-weight-700">Preview <i class="fa fa-external-link"></i></a>
        </div>
        <!-- Project Details Ends -->
    </div>
</div>
