---
title: Dahie | Music
body_classes: dark blog
---

<div class="container page-title center-align">
	<h2 class="center-align">
		<span>Dahie</span>
	</h2>
</div>




<div class="container">
  <div class="row">
    <div class="content col s12 m8 offset-m2 l8 offset-l2 offset-xl3 xl6 center-align">
      <h2>Coming Soon…</h2>
      <img class="responsive-img glow-border" src="/images/bettlekture-carneval-cover.jpg" alt="">
    </div>
  </div>
</div>


<div class="container">
	<div class="row">
		<div class="content col s12 m12 l12 xl12 center-align">
      <h3>Videos</h3>
			<div style="padding:75.16% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/351883630?color=FEAE63&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
			<!--<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/mI1V9hmrdKA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
			<!--<iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=1035306684/size=large/bgcol=333333/linkcol=9a64ff/tracklist=false/transparent=true/" seamless><a href="http://dahie.bandcamp.com/track/dance-baby">Dance, Baby by Dahie</a></iframe>-->
		</div>
	</div>

	<div class="row">
		<div class="content col s12 m12 l12 xl12 center-align">
			<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/351877020?color=FEAE63&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
			<!--<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Bo4PCbMgNP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
			<!--<iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=1460978724/size=large/bgcol=333333/linkcol=AB0000/tracklist=false/transparent=true/" seamless><a href="http://dahie.bandcamp.com/track/blight">Blight by Dahie</a></iframe>-->
		</div>
	</div>
</div>

<div class="container">
  <div class="row second-font">
    <div class="content col s8 offset-s2 m6 offset-m3 offset-l4 l4 xl4 offset-xl4 center-align">
      <h3>About</h3>
      <blockquote>
        <p>Dahie is singer and instrumentalist Daniel Senff based in Berlin.
        Usually starting with a single Ukulele he weaves songs that grow in layers of sound and depths. Not danceable, laid back, sometimes dreamy, sometimes nightmarish.</p>
        <p>On stage he's a rare sight, in a ligher tone and is usually bringing only his Ukulele.</p>
        <p>… if he can remember the lyrics.</p>
      </blockquote>
    </div>
  </div>
	<div class="row">
		<div class="content meta col s8 offset-s2 m6 offset-m3 offset-l4 l4 xl4 offset-xl4 center-align">
			<!--<p><a href="http://www.danielsenff.de">danielsenff.de</a></p>-->
			<h2 class="social center-align">
        <ul class="list-inline social social-intro center-align p-none">
          <li class="home">
            <a href="http://danielsenff.de"><i class="fa fa-home"></i></a>
          </li>
          <li class="twitter">
          	<a href="https://twitter.com/dahie"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="bandcamp">
          	<a href="https://dahie.bandcamp.com/"><i class="fab fa-bandcamp"></i></a>
          </li>
          <li class="soundcloud">
          	<a href="https://www.soundcloud.com/dahie"><i class="fab fa-soundcloud"></i></a>
          </li>
        </ul>
      </h2>
		</div>
	</div>
</div>
